/* Tailwind Directives : */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Styles */
:root {
  font-family: 'Inter', sans-serif;
  line-height: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base classes */

body {
  @apply bg-yellow-50;
}
h1 {
  @apply text-7xl font-bold font-serif tracking-tighter;
}

/* Header */

header {
  @apply w-screen py-8;
}
.galleria {
  @apply text-yellow-950 mx-auto w-fit;
}

/* Massonery */

main {
  @apply container mx-auto;
}

.massonary {
  @apply grid-flow-dense;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.grid-unit {
  overflow: hidden;
}

/* .image {
  @apply object-cover h-full w-full;
}

.image.horizontal {
  @apply row-span-2 lg:col-span-2;
}

.image.vertical {
  @apply lg:row-span-2;
} */

.grid-unit img {
  object-fit: contain;
  width: 100%;
  height: 50%;
}

.grid-unit img.horizontal {
  object-fit: cover;
}

.grid-unit img.vertical {
  object-fit: contain;
}
