/* Tailwind Directives : */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Styles */
:root {
  font-family: 'Inter', sans-serif;
  line-height: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base classes */

body {
  @apply bg-yellow-50;
}
h1 {
  @apply text-7xl font-bold font-serif tracking-tighter;
}

/* Header */

header {
  @apply w-screen py-8;
}
.galleria {
  @apply text-yellow-950 mx-auto w-fit;
}

/* Massonery */

main {
  @apply absolute top-[150px] left-0 w-full h-fit bg-black;
}
.column {
  @apply w-full;
}

.massonary {
}
