/* Tailwind Directives : */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Styles */
:root {
  font-family: 'Inter', sans-serif;
  line-height: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base classes */

body {
  @apply bg-yellow-50;
}
h1 {
  @apply text-7xl font-bold font-serif tracking-tighter;
}

/* Header */

header {
  @apply py-[90px];
}
.galleria {
  @apply text-yellow-950 mx-auto w-fit;
}

/* Massonery */

main {
  @apply absolute top-[200px] left-0 h-fit px-8 md:px-6 lg:px-12 w-full py-8;
}
.column {
  @apply w-full space-y-6 h-max;
}

.column img {
  @apply relative w-full;
}

.masonry {
  @apply flex space-x-6 mx-auto container relative;
}

.fader {
  @apply bg-gradient-to-t from-yellow-50 to-yellow-50/0 w-full  bottom-0 left-0;
}
